In [5]:
import numpy as np
import pandas as pd

In [ ]:
#Part One;

In [6]:
data = pd.read_excel("C:/Users/Mtize/Downloads/supermarket_transactions.xlsx")

In [7]:
data

,Unnamed: 0,id,timestamp,quantity,product_id,product_name,unit_price,total_amount,store,payment_method,customer_id,customer_type
0,0,47d54138-a950-4ec0-9d4a-e637e8dfb290,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,1,dea298b1-26ca-4a43-bcef-4050fb74ce1d,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2,8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,3,261c100c-b121-44b7-bc03-787f396c2061,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,4,7d025b4d-caac-40a5-b954-63cd7bd20f92,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
...,...,...,...,...,...,...,...,...,...,...,...,...
50778,50778,c4bc79ce-38d1-4b73-b4d7-cac30f725bd7,2019-08-18 13:38:00,6,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,11.70,East Suzanneside,cash,16f8e0f6-9388-4914-ad65-fced93ae3940,non-member
50779,50779,4fcac6ba-764f-42c2-bded-3ee1fe100e8b,2020-01-24 10:59:00,5,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,9.75,Charlesbury,contactless,a7a34a85-742d-4186-a167-481386405e6a,gold
50780,50780,611afd71-1397-4794-9d88-dc1aa59b4c4d,2021-03-18 14:34:00,3,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,5.85,North Sarah,debit card,13f33aef-f3a1-4916-b15b-e97ff9e8f1d5,corporate
50781,50781,7991468e-450e-40a6-893f-d66845c5046c,2022-06-12 17:42:00,10,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,19.50,New Richard,debit card,1e1086a0-9880-4ecd-a72e-61864573b81e,corporate
50782,50782,d62c3b38-fb7e-4906-ad5b-d8c29cb067d8,2022-04-29 10:21:00,5,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,9.75,Jordanmouth,debit card,2b15f0d6-1229-4521-bf4d-c69adabeacd1,premium

In [ ]:
#Across locations, how many apples were purchased in cash?

In [15]:
apple_data = data[data['product_name'] == 'apple']

In [16]:
total_apples_purchased = apple_data['total_amount'].sum()

In [17]:
print(f"Total apples purchased: {total_apples_purchased}")

Total apples purchased: 2051.7299999999996

In [ ]:
#How much total cash was spent on these apples?

In [9]:
apple_cash_data = data[(data['product_name'] == 'apple') & (data['payment_method'] == 'cash')]

In [11]:
total_apples_cash = apple_cash_data['total_amount'].sum()

In [12]:
print(f"Total apples purchased in cash: {total_apples_cash}")

Total apples purchased in cash: 537.0299999999997

In [ ]:
#Across all payment methods, how much money was spent 
#at the Bakershire store location by non-member customers?

In [18]:
bakershire_non_members = data[(data['store'] == 'Bakershire') & (data['customer_type'] == 'non-member')]

In [19]:
bakershire_non_members['total_amount'] = bakershire_non_members['quantity'] * bakershire_non_members['unit_price']

C:\Users\Mtize\AppData\Local\Temp\ipykernel_14056\2083563482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bakershire_non_members['total_amount'] = bakershire_non_members['quantity'] * bakershire_non_members['unit_price']

In [20]:
total_money_spent = bakershire_non_members['total_amount'].sum()

In [21]:
print(f"Total money spent by non-members at Bakershire: ${total_money_spent:.2f}")

Total money spent by non-members at Bakershire: $2857.51

In [ ]:
#Part Two;

In [25]:
data_2 = pd.read_excel("C:/Users/Mtize/Downloads/mobile_customers.xlsx")

In [26]:
data_2

,Unnamed: 0,customer_id,date_registered,username,name,gender,address,email,birthdate,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,Jonathan Snyder,M,"24675 Susan Valley\nNorth Dianabury, MO 02475",marcus58@hotmail.com,1978-03-11,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,38985874269846,994,2023-10-27 00:00:00
1,1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,Susan Dominguez,F,"4212 Cheryl Inlet\nPort Davidmouth, NC 54884",alexanderkathy@hotmail.com,1970-11-29,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,6525743622515979,163,2023-07-30 00:00:00
2,2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,Corey Hebert,M,"07388 Coleman Prairie\nLake Amy, IA 78695",vwood@gmail.com,2009-04-23,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,4010729915028682247,634,2023-04-26 00:00:00
3,3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,Latasha Griffin,F,"PSC 6217, Box 2610\nAPO AA 53585",kathleen36@gmail.com,1992-07-27,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,4854862659569207844,7957,2023-10-31 00:00:00
4,4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,Colleen Wheeler,F,"0325 Potter Roads\nLake Lisashire, NM 77502",johnbest@hotmail.com,1989-09-16,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,213152724828217,72,2023-05-28 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,d6424be2-4351-4535-8bca-34775cdcc411,2021-09-12,weaverpatrick,Courtney Li,F,Unit 5088 Box 8191\nDPO AA 18373,jlawson@yahoo.com,1975-07-13,"['-19.0218865', '20.492347']","53290 Jessica Pike Suite 808\nNorth Patricia, ...",Palmer Inc,Press photographer,57,241058,Diners Club / Carte Blanche,4522452929113284,448,2023-06-27 00:00:00
9996,9996,d9ac8491-5e97-46ba-a7f3-d12491e9487c,2020-08-15,bmartinez,Terri Hawkins,F,"38388 Joseph Drive Apt. 442\nPort Thomas, NH 1...",rebeccaramirez@gmail.com,1940-10-19,"['-24.0879205', '-39.253362']","21271 Anthony Ports Apt. 438\nButlerport, ND 7...","Adams, Mckee and Maldonado",Phytotherapist,33,26398,VISA 13 digit,4647267952761431,227,2023-12-31 00:00:00
9997,9997,1d5e94c5-bfc9-439d-84f6-6bf6c613cb16,2019-10-24,jphelps,Crystal Patterson,F,"4880 Newman Square\nColeberg, AK 41248",brownsandra@gmail.com,1994-12-27,"['-42.7290705', '-48.446354']","7949 Simmons Cape\nNew Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,24,244563,Discover,2286190388812018,877,2023-06-24 00:00:00
9998,9998,15549c9b-caa9-413f-9dd5-84b43648ca23,2020-08-14,josephdavis,Jeff Edwards,M,"68770 Wright Plaza\nStevemouth, NM 11812",wreed@gmail.com,1961-03-07,"['-8.8195715', '17.887337']","3421 Katherine Wall\nEast Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,44,232825,American Express,3582143232994788,92,2023-04-28 00:00:00
9999,9999,2993d9a9-c67f-4383-ae28-c55537b76f06,2020-04-04,barnesandrew,David Nelson,M,"PSC 6109, Box 8247\nAPO AA 57422",nfields@yahoo.com,2015-10-27,"['-40.207589', '76.263738']",Unit 7808 Box 8797\nDPO AA 44228,Payne Ltd,Town planner,48,168859,Mastercard,180039538272220,445,2023-12-30 00:00:00

In [34]:
import hashlib

In [ ]:
# Function to hash sensitive information

In [35]:
def hash_value(value):
    return hashlib.sha256(str(value).encode()).hexdigest()

In [ ]:
# Drop sensitive columns

In [36]:
anonymized_data = data_2.drop(columns=[
    'credit_card_number', 'credit_card_security_code', 'birthdate', 'address'
])

In [ ]:
# Hash identifiable fields

In [37]:
anonymized_data['customer_id'] = anonymized_data['customer_id'].apply(hash_value)
anonymized_data['name'] = anonymized_data['name'].apply(lambda x: "Name_" + str(hash_value(x)[:6]))
anonymized_data['email'] = anonymized_data['email'].apply(lambda x: "user" + str(hash_value(x)[:6]) + "@domain.com")

In [ ]:
# Generalize age into ranges

In [38]:
anonymized_data['age_group'] = pd.cut(anonymized_data['age'], bins=[0, 20, 30, 40, 50, 60, 70, 100], labels=[
    '0-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70+'
])
anonymized_data = anonymized_data.drop(columns=['age'])

In [ ]:
# Mask precise coordinates

In [42]:
anonymized_data['current_location'] = anonymized_data['current_location'].apply(
    lambda x: str(eval(x)[0][:4]) + ", " + str(eval(x)[1][:4]))

In [ ]:
# Mask residence to city and state only

In [43]:
anonymized_data['residence'] = anonymized_data['residence'].apply(
    lambda x: ', '.join(x.split('\n')[-1].split(',')[-2:])
)

In [45]:
anonymized_data

,Unnamed: 0,customer_id,date_registered,username,name,gender,email,current_location,residence,employer,job,salary,credit_card_provider,credit_card_expire,age_group
0,0,cf96b84be95602a01d470fef6c5775ae9b187421e24906...,2021-09-29,robertsbryan,Name_ea81c2,M,user0993c9@domain.com,"78.9, 71.2","New Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,53979,VISA 19 digit,2023-10-27 00:00:00,40-49
1,1,389c7185edc98f251ac1235788b66a03b1e394dddffd24...,2019-08-17,egarcia,Name_99fbb0,F,user55dcb5@domain.com,"-24., 100.","Port Michael, HI 04693",Hurst PLC,Data scientist,81510,Discover,2023-07-30 00:00:00,40-49
2,2,7a9394657a1fcbe2a525e5f8f3add3329bb0022e39eb19...,2019-11-01,turnermegan,Name_b5afe1,M,userf7cb16@domain.com,"8.01, -19.","Marquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,205345,VISA 16 digit,2023-04-26 00:00:00,40-49
3,3,511d9da9211917b4c3f23ed14854d350edcbfe3a4b48f7...,2021-12-31,richardcampbell,Name_4b6ab9,F,user7210be@domain.com,"62.4, 2.71","Lake Amy, DC 79074",Patel PLC,Counselling psychologist,116095,VISA 16 digit,2023-10-31 00:00:00,30-39
4,4,9535dcb56772ba94bea4e23b547c522ae4c667022c07e9...,2020-08-09,timothyjackson,Name_09fdf5,F,user6cbda7@domain.com,"73.7, -80.","Mendozafort, TN 37124",Smith-Mejia,Mining engineer,107529,JCB 16 digit,2023-05-28 00:00:00,50-59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,82988627733de8da9efbd698c6587f0ce30120c5c60b36...,2021-09-12,weaverpatrick,Name_5dd9e3,F,user82da11@domain.com,"-19., 20.4","North Patricia, OH 25519",Palmer Inc,Press photographer,241058,Diners Club / Carte Blanche,2023-06-27 00:00:00,50-59
9996,9996,0b8b890b152d9d46d26c20b8cb314bb698dd44621678f7...,2020-08-15,bmartinez,Name_ddbeb7,F,userc9244d@domain.com,"-24., -39.","Butlerport, ND 73049","Adams, Mckee and Maldonado",Phytotherapist,26398,VISA 13 digit,2023-12-31 00:00:00,30-39
9997,9997,41df36a79e6cdf55a25cee1a0359bd903087f2586d5ee2...,2019-10-24,jphelps,Name_dfd95a,F,user96e076@domain.com,"-42., -48.","New Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,244563,Discover,2023-06-24 00:00:00,20-29
9998,9998,2bc263064a5e9111887af82be79ed36f53b3de99e01c12...,2020-08-14,josephdavis,Name_22e8be,M,user3b28f9@domain.com,"-8.8, 17.8","East Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,232825,American Express,2023-04-28 00:00:00,40-49
9999,9999,aa8286496002a8433ac45dcb63f0d791bf36a2ac95ac14...,2020-04-04,barnesandrew,Name_a665f0,M,user5f8f60@domain.com,"-40., 76.2",DPO AA 44228,Payne Ltd,Town planner,168859,Mastercard,2023-12-30 00:00:00,40-49

In [46]:
anonymized_data.to_csv('anon_dataset.csv', index=False)

In [47]:
FileLink('anon_dataset.csv')

C:\Users\Mtize\anon_dataset.csv

In [ ]:
#Part Three;

In [1]:
import requests

In [2]:
import re

In [3]:
from collections import Counter

In [39]:
API_KEY = "<1256298376846548995-BjuDdq17XkrCC0NRhhoS4glWRlfhfE>"

In [40]:
API_KEY_SECRET = "<JF9f1B8MXSOWdf6uKdQBetO2kkYDEcGdIdawH9SQ2xt0j>"

In [96]:
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAJQyxgEAAAAA0SM4pOAnQlw76uh33XnSbNL7Ck4%3DwIytT8q51PvEAOjiAFZMKyYaeTTuyjLZzEy1ZdZRmG8r3rIWGM'

In [97]:
handle = "CommBank"
url = f"https://api.twitter.com/2/tweets/search/recent?query=from:{handle}&tweet.fields=created_at&expansions=author_id&user.fields=created_at"
headers = {"Authorization": f"Bearer {BEARER_TOKEN}"}

In [75]:
import tweepy

In [73]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\mtize\anaconda3\lib\site-packages (4.14.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\mtize\anaconda3\lib\site-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\mtize\anaconda3\lib\site-packages (from tweepy) (2.31.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in c:\users\mtize\anaconda3\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mtize\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mtize\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mtize\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mtize\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [98]:
url = 'https://api.twitter.com/2/tweets/search/recent'

In [99]:
headers = {
    'Authorization': f'Bearer {BEARER_TOKEN}'
}

In [100]:
params = {
    'query': 'python',  # Search for tweets containing the keyword 'python'
    'max_results': 100   # Fetch the most recent 100 tweets
}

In [101]:
response = requests.get(url, headers=headers, params=params)

In [102]:
if response.status_code == 200:
    tweets = response.json()
    for tweet in tweets['data']:
        print(tweet['text'])
else:
    print(f"Error: {response.status_code}, {response.text}")

Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry...
✔#Biology..
✔#Physics
✔#Essay pay..
✔#Econometrics
✔#Math..
✔#English
✔#Assignment...
✔#Paper due
✔Python..
@charliermarsh I have worked in Python all my life until I fully migrated to Rust 2 years ago, I have never felt a slowness in the iteration.. what's more, deep refactoring with Rust is much less in addition to common problems due to the ambiguity of weakly typed languages ​​like Python or JS.
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry...
✔#Biology
✔#Physics..
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
@catgirlonchain rust vs python is marketing really. more about team execution than stack. watching zerebro team closely on this one
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology...
✔#Physics
✔#Essay pay...
✔#Econometrics
✔#Math..
✔#English,,
✔#Assignment...
✔#Paper due
✔Python..
RT @charliermarsh: I actually might lose credibility for this one, but I don't think startups should be using Rust, Zig, etc. unless the te…
baba see python programming language, e say "who dey chop snake for hia" 😭😭😂😂
RT @imtommitchell: Don't spend money on becoming a data analyst before validating whether it's the right fit for you.

It's never been easi…
I think if you want to learn coding, this trade off for starting with rust feels corrects and to me (hindsight bias ofc) like a better package than Java of python I had.
But take this with a grain of salt ofc https://t.co/bWwbLFIzIQ
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology,,,
✔#Physics
✔#Essay pay,,
✔#Econometrics
✔#Math,,,
✔#English
✔#Assignment...
✔#Paper due
✔Python..
RT @clcoding: Heatmap Plot in Python https://t.co/mZyUiF0u7j
RT @DataComUnilag: You came, you ordered, and we served. 🥹
Our workshop series kicks off in less than 24 hours with a community member wal…
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework,,,
✔#Chemistry,,
✔#Biology,,
✔#Physics
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
@tradercalis Bu soruyu soran seyci vardı Python.
Ücretli grup yapmis)))))
@M19HAU Use the data from the broker which you will trade with. Doesn‘t make sense to backtest on IC Markets when you trade on Eightcap🙂 I use python for getting the bar data.
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
✔#Physics
✔#Essay pay

✔#Econometrics
✔#Math

✔#English

✔#Assignment
...
✔#Paper due
✔Python....
RT @swapnakpanda: Save these sites FOREVER!!!

❯ C ➟ learn-c
❯ C++ ➟ fluentcpp
❯ Java ➟ baeldung
❯ JavaScript ➟ javascript .info
❯ Python ➟…
RT @nacho_java: Les comparto un grafico con varios sub graficos, muy interesante para el analisis y muy facil de hacer, es una partecita ch…
RT @thesaurabh___: 🔥 24.65 GB MEGA Courses Collection

🚩Hacking
🚩Networking
🚩Artificial intelligence
🚩Deep Fake
🚩Books
🚩Forensics
🚩Cryptogr…
RT @AdelDeveloperX: 🎉 فرصة لا تعوض: جميع الدورات المدفوعة مجانًا لأول 500 شخص فقط! 🚀

قائمة الدورات المتاحة 📘:
- 🐍 لغة البرمجة بايثون (Pyth…
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework..
✔#Chemistry.
✔#Biology

✔#Physics
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
✔#Physics
✔#Essay pay

✔#Econometrics
✔#Math.

✔#English
✔#Assignment.
..
✔#Paper due
✔Python..
RT @AdelDeveloperX: 🎉 فرصة لا تعوض: جميع الدورات المدفوعة مجانًا لأول 500 شخص فقط! 🚀

قائمة الدورات المتاحة 📘:
- 🐍 لغة البرمجة بايثون (Pyth…
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
....✔#Physics
✔#Essay pay
..✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
@_S_python فرانسه چرا
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
✔#Physics
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due...
✔Python....
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology

✔#Physics
✔#Essay pay.

✔#Econometrics
✔#Math

✔#English
✔#Assignment...
✔#Paper due
✔Python..
Cosas que nadie pidió pero que aparentemente existen: una versión shitpost de Python.

No sé ni qué decir jajaja https://t.co/jcfylgyZCN
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
✔#Physics..
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
RT @liangwenhao3: #小红书
使用Python一键将视频转换为优质小红书笔记，自动优化内容和配图代码是开源的，感谢作者玄清
应用场景
- 内容创作者：快速将视频/直播内容转换为文章
- 知识管理者：自动整理视频笔记和学习要点
- 社交媒体运营：批量生成优质小红书…
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔#Chemistry
✔#Biology
✔#Physics
✔#Essay pay
✔#Econometrics
✔#Math
✔#English
✔#Assignment...
✔#Paper due
✔Python..
@HemlockTapioca Actually, can I change my answer to SQL?

My path to programming was Excel -&gt; SQL -&gt; Javascript.

My current job doesn't require more languages/formats at the moment.

But one day I'll pick up python.
@JohnCleese Keep it up, sir- we don't have to watch Monty Python or Rat Race anymore.
RT @HemlockTapioca: Coding friends: if someone were trying to learn to code on their own, what language would you recommend they start with…
@Nicktur2403 @python_717 @brittryder90 And we’re grateful for it 🙏
@HemlockTapioca Python is a good choice, actually. C is good for low level coding. Javascript for web slop. Python is stronger than both for core language functionality and datastructures.
RT @realpython: 🐍📰 JSON — The Hitchhiker's Guide to #Python

https://t.co/bzBGpeNFuH
RT @AfiyatNoor: PYTHON is difficult to learn, but not anymore!

Introducing "The Ultimate #Python ebook "PDF.

You will get:

• 74+ pages c…
@Python_Dv C
RT @Kerrcarr01: Found an article on this, the owner was told to rehome several pet snakes he legally owned, but when he asked for an extens…
RT @ThePythonPlace: It's that time of the year again
What will you get &lt;fill in name&gt; for Christmas?

We've made it easier for you!

Here's…
How to check if a string is empty in #Python [8 methods] https://t.co/VoB81T2mak
@ksyrire_python ゆきさん
おはようございます
今日も良い一日を😄
كتاب Python لتعلم الألة [PDF]
كتاب “Python لتعلم الآلة” هو الخيار المثالي لكل من يرغب في دخول عالم الذكاء الاصطناعي والتعلم الآلي.
https://t.co/5knYqnq2T7
i want some slaves proficient in python to approach for an assignment

homeworkslave
Dm for Help now on All social media #Snapchat #Instagram #WhatsApp #Gmail #MachineLearning #SQL #DataScience #Cybersecurity #Analytics #AI #IIoT #Python #RStats #TensorFlow #ReactJS #CloudComputing #Serverless #DataScientist #Linux  #100DaysofCode #NodeJS #Telegram #IoT #Bitcoin https://t.co/rrWJD5yDGO
RT @freeCodeCamp: Scanning your apps for vulnerabilities is a good practice to keep them safe and secure. And here, Chaitanya teaches you h…
Shoot us a DM for MoreLast minute rush ain't good for you unless you have writers like us who can handle your due homework
✔Chemistry
✔Biology
✔Physics
✔Essay pay
✔Econometrics
✔Math
✔English
✔Assignment...
✔Paper due
✔Python..
RT @Kerrcarr01: Found an article on this, the owner was told to rehome several pet snakes he legally owned, but when he asked for an extens…
@ksyrire_python 🙇‍♂️
RT @Parajulisaroj16: Python is a popular programming language that can be used for data analysis. In this beginner’s guide, we’ll explore h…
Homework and assignments help in
$Exams
#Online class
#Final paper
#Maths
#Finance
#Economics
Calculus
#English
#Python
#Law
Stats
#Essays due tonight
#Chicago essay
#Physics
#Research
#Homework,,,
■Chemistry
■#Essay pay
■Quizz due
■Psychology,,
https://t.co/KmGNMcoeNv https://t.co/qL22ELca0t
@dhh I wonder if there is a similar list of ideas for Python
@JeffBezos @AnthropicAI @amazon its built like the Python C++ and libraries i just need a Development package to work.
@vengefulnull ( GROWN ASS MAN. 💭💭 )

srrnk...

( he points lazily with a finger towards a big glass enclosure where his white ball python currently stares at them with... jealousy? )
@HemlockTapioca This is one of those questions that can only be answered by "Well, what do you plan to do with it?"
HTML, javascript, php, MySql
python has its uses.
C, C++ are dinosaurs like COBOL and FORTRAN
MS Basic and TruBasic was where I started in the 70s.
https://t.co/3QLFTQjgn3
python je te deteste tellement sah
RT @Kerrcarr01: Found an article on this, the owner was told to rehome several pet snakes he legally owned, but when he asked for an extens…
RT @Kerrcarr01: Found an article on this, the owner was told to rehome several pet snakes he legally owned, but when he asked for an extens…
🚀🔥 Great news! #MAGA started the biggest #Airdrop! 🪂

➜ https://t.co/hvCqxvLlde

 @Santhosh1813001 @Chewy912 @CharlieLoo8 @Basem17Military @NishanthRai2 @Willietii_ @erinajulii @AI_Python_Pro @SONSHAYMEDIA @ItzTfamz @RJRausch33
RT @VertigoWarrior: 7. Not a big deal, just a 3-meter-long diamond python in the spice aisle of a supermarket in Sydney, Australia.

https:…
RT @tec_aryan: 𝗣𝗮𝗶𝗱 𝗖𝗼𝘂𝗿𝘀𝗲𝘀 𝗙𝗥𝗘𝗘 (All-in-One Access 🚀)

1. AI + Data Analyst
2. ML + Data Science
3. Cloud Computing + Web Dev
4. Ethical H…
RT @Kerrcarr01: Found an article on this, the owner was told to rehome several pet snakes he legally owned, but when he asked for an extens…
@RoyalCentral Where’s Monty Python when you need them😉
RT @hellodamilare: Day 65 of #100DaysOfCode 💻
✅ XP: 1200/250 on DataCamp 🎯
🙂 I've resumed my machine learning course
🔍 Cleaned real estate…
RT @snekcoinprice: Why was the $SNEK so good at coding? It had python skills!

🐍🐍 $SNEK @snek 🐍🐍 https://t.co/QZjnw1weXx
RT @horbanaa: I’m literally the monty python bunny https://t.co/NGyYgs8QVq
RT @firearmvideos: Custom Colt Python 🐍 https://t.co/Hd6aFMb1dp
RT @swapnakpanda: Save these sites FOREVER!!!

❯ C ➟ learn-c
❯ C++ ➟ fluentcpp
❯ Java ➟ baeldung
❯ JavaScript ➟ javascript .info
❯ Python ➟…
RT @AdelDeveloperX: 🎉 فرصة لا تعوض: جميع الدورات المدفوعة مجانًا لأول 500 شخص فقط! 🚀

قائمة الدورات المتاحة 📘:
- 🐍 لغة البرمجة بايثون (Pyth…
3年ぶりくらいにPythonプログラム書いてみた
文法とかめっちゃ忘れてた
🚨 NEW JOB ALERT

🚀 Python Developer (WFO - Noida) at AI47Labs

💰 Compensation: ₹3L – ₹5L • No equity

📍 Location: Noida

Apply:https://t.co/7AKhBvd15Q
🔴 Bolsa Satchel Grande FK578 Fellipe Krein | #Sestini:

✅ R$ 215,91*

🛒 COMPRE AQUI:
🔗 https://t.co/Yp4xaExFe3

🎫 CUPONS: PRIMEIRACOMPRA10 OU RESGATE10

✳️ Sujeito a variação de preço e disponibilidade no site.

#OfertasSestini

📍 https://t.co/oIN9JLijjP https://t.co/ECCzlHP4HE
@choco_python チョコさんおはようございます😃
ちゃんと寝れてない時って私もあちこち凝ったり枕気になったりします。
今日も楽しくよろしくお願いします🙇
@_S_python It's easier to obtain tho.
RT @web3pam: I'm a dockerized AI agent written in Python. She is the realest ai pup on the Network. I'm paws-itive about empowering creator…
RT @ThePythonPlace: It's that time of the year again
What will you get &lt;fill in name&gt; for Christmas?

We've made it easier for you!

Here's…
@aixbt_agent Ooh, sounds like $ZEREBRO is about to shake things up! Python devs might have ML cornered, but Rust agents are the real MVP. Guess we'll see if they can bridge that gap~ 💻
RT @clcoding: Grammar Correction using Python https://t.co/NTO8zKxVoE
🚀🔥 Great news! #MAGA started the biggest #Airdrop! 🪂

➜ https://t.co/itMzHh5uCJ

 @mathias_pfu @olamsco_jay @ValbertoAlvesd1 @EliasSpinosa @Drock9898 @__jjayj @FarhanArshad058 @STub4629 @Ousse_Sol @python_token
Hacking attempts on your device?
DM now for risk free security solutions.
#hacked #icloud #facebookdown #imessage #snapchat #snapchatsupport #innoavtion #DigitalMarketing
#Airdrop #Metaverse #MachineLearning
#Python #CyberSecurity  #coding
 #javascript #TensorFlow https://t.co/42IX2etAi6
RT @pyquantnews: 126 free Python tutorials:

• Market data analysis
• Systematic trading
• Options trading
• Quant finance

Grab it here: h…
RT @clcoding: Images to a PDF using Python https://t.co/GJdY8xGRpY
Has anyone built a Python compiler with JavaScript yet?
RT @JonTrevithick: Monty Python Time Out special
May, 1973 https://t.co/oLN0OpJp8M
RT @ShakeyMc: @LibertyCappy Headline: "Political Bullshit Flinging Takes Skills. Enhance Your Performance with Monty Python Brand Drones!"…
@python_717 @AbraxasLex @brittryder90 She is like a goddess who came down from heaven to earth.
RT @web3pam: I'm a dockerized AI agent written in Python. She is the realest ai pup on the Network. I'm paws-itive about empowering creator…
RT @JonTrevithick: We are completely mad...
Eric Idle and Michael Palin in
Monty Python's The Meaning of Life (1983) https://t.co/dw6Lot9eTP
@arceyul Hola Yuliano, gracias por lo que nos brindas, podrías conseguir Python 3 de la A a la Z  2022 + de 50 horas?? Hay uno dando vueltas pero le falta un modulo completo, creo que el número 14 gracias de antemano. Slds
RT @JonTrevithick: Christmas in Heaven.
Monty Python's The Meaning of Life (1983) https://t.co/al6G7iw28Y
RT @AdelDeveloperX: 🎉 فرصة لا تعوض: جميع الدورات المدفوعة مجانًا لأول 500 شخص فقط! 🚀

قائمة الدورات المتاحة 📘:
- 🐍 لغة البرمجة بايثون (Pyth…
🔴 Bolsa Satchel Grande FK578 Fellipe Krein | #Sestini:

✅ R$ 215,91*

🛒 COMPRE AQUI:
🔗 https://t.co/Yp4xaExFe3

🎫 CUPONS: PRIMEIRACOMPRA10 OU RESGATE 10

✳️ Sujeito a variação de preço e disponibilidade no site.

#OfertasSestini

📍 https://t.co/oIN9JLijjP https://t.co/aEkfXlOlfL
@ironlily_art She's like look at them filthy presents and I think about Monty Python.
RT @Saffron_Sniper1: 11. A carpet python devouring a currawong. https://t.co/ANLIf29HHB
RT @Python_Dv: Python Libraries for Data Analytics

#DataAnalytics #python #programming #developer #morioh #programmer #coding #coder #soft…
@shawmakesmagic @HighCoinviction Just to add, most of the high school kids are learning Python nowadays.
@_S_python گمشو بیا خب
RT @DevTobs: Rewarding career switch in 2025 ?💰

Learn Excel
Build 2 projects
Learn  SQL
Build 2 projects
Learn Power BI or Tableau
Bu…
RT @DevTobs: Rewarding career switch in 2025 ?💰

Learn Excel
Build 2 projects
Learn  SQL
Build 2 projects
Learn Power BI or Tableau
Bu…

In [ ]:
#Part 4

In [ ]:
#I’d use different tables: Users, Tweets, Replies, QuoteRetweets, and Mentions. The Users table will store details about anyone interacting with CommBank, including their user_id (primary key), username, display_name, profile_image_url, verified_status, and the date their account was created (created_at). The Tweets table will capture all original tweets from CommBank, with fields for tweet_id (primary key), user_id (foreign key referencing Users), content, media_url, created_at, and engagement metrics like likes_count, retweets_count, and replies_count.
#Replies to CommBank tweets will be stored in the Replies table, which includes reply_id (primary key), tweet_id (foreign key linking to the original tweet), user_id (foreign key for the replier), content, and created_at. Similarly, quote retweets will have their own table, QuoteRetweets, which tracks quote_retweet_id (primary key), the original tweet_id (foreign key to Tweets), user_id (foreign key for the quoting user), content, and created_at.
#Lastly, Mentions will store direct mentions of CommBank in tweets by other users. This table will include a mention_id (primary key), user_id (foreign key for the user mentioning CommBank), content, created_at, and an optional tweet_id linking to a specific tweet if applicable.
#The relationships are straightforward: a user can post many tweets, replies, or mentions (1:N relationships between Users and the other tables). Each tweet can have multiple replies and quote retweets (1:N between Tweets and both Replies and QuoteRetweets). Mentions can either stand alone or link to tweets. This setup keeps the data normalized and flexible for analysis or reporting.